* {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    gap: 25px;
}
#previous, #next {
    background: none;
    border: none;
}
#previous img, #next img {
    cursor: pointer;
}
#slider-and-circles {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
#slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: 600px;
    height: 400px;
    overflow: hidden; /* to keep the image transition within the slider frame */
}
#slider img {
    width: 100%;
}
#slider img {
    animation-name: imageToTheLeft;
    /* animation-delay: 0s;
    animation-timing-function: ease-in-out; */
    transition: transform 1s ease-in-out 0s,
    opacity 500ms ease-in-out 0s;
}

img.left {
    transform: translateX(-500px);
    opacity: 0;
}
img.right {
    transform: translateX(500px);
    opacity: 0;
}
.hide {
    display: none;
}

